html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
}

#cells {
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    z-index: 4;
}
.bubyrka {
    position: absolute;
    left: calc(50% - 1.8vh);
    transform: translate(-50%, 0);
    top:5%;
    height: 7%;
    width: 3.06vh;
    background-image: url("бубырка.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    z-index: 2;
}

.top
{
    z-index: 3;
    position: absolute;
    left: calc(50%);
    transform: translate(-50%, 0);
    top:3%;
    height: 6%;
    width: 17vh;
    cursor: pointer;
    background-image: url("33.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;

}
.lamp {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top:7%;
    height: 18%;
    width: 4.85vh;
    background-image: url("lamp.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
#myCanvas{
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height:85%;
    top:5%;
}
.girl{
    position: absolute;
    left: calc(50% - 34vh);
    top:65%;
    height: 27%;
    width: 36vh;
    display: none;
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
.hat{
    position: absolute;
    left: calc(50% + 2vh);
    top:72%;
    height: 15%;
    transform: rotate(180deg);
    z-index:1;
    width: 20.05vh;
    display: none;
    background-image: url("hat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pozhiloy{
    position: absolute;
    left: calc(50% + 6vh);
    bottom:18%;
    height: 10%;
    width: 10vh;
    display: none;
    background-image: url("pozhil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.dove{
    position: absolute;
    left: calc(50% + 7vh);
    bottom:18%;
    height: 10%;
    width: 8.57vh;
    display: none;
    background-image: url("dove.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#block{
    position: absolute;
    left: calc(50% + 2vh);
    top:72%;
    height: 15%;
    transform: rotate(180deg);
    z-index:3;
    width: 20vh;
    cursor: pointer;
    display: none;
}